/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html {}


body {
    margin: 5%;
    width: 90%;
    height: 100%;
}

button {
    /* background-color: yellow; */
    margin: 0;
    /* color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 10; */
}

#title {
    text-align: center;
}

/* :root {
    --diameter: 30px;
} */

.outer {
    /* background: red; */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 200px;
}

.wrapper {
    /* background-color: blue; */
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 60px 60px 60px;
    /* background-color: #fff; */
    color: #444;
    justify-content: center;
    /* align-content: center; */
    /* height: 200px; */
    bottom: 0%;
}

.box {
    /* background-color: #444;
    color: #fff; */
    border-radius: 5px;
    padding: 2px;
    font-size: small;
    width: 60px;
    height: 60px;
}

.empty {
    background-color: white;
    color: black;
}